.header .link_tab .sm_main {
    font-size: 8px;
}
.header .link_tab .sm_potal {
    font-size: 8px;
}
.header .link_tab .snowboard {
    font-size: 8px;
}


.classTab li a {
    font-size: 8px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;
}

.inner .main__banner {
    font-size: 27px;
}

.inner .major_title_1 {
    font-size: 10px;
}
.inner .major_title_2 {
    font-size: 25px;
}
.inner .major_title_3 {
    font-size: 10px;
}
.inner .summary__title {
    font-size: 13px;
}

.inner hr {
    width: 80px; 
}
.inner p {
    max-width: 700px;
}
.inner .summary__description {
    font-size: 10px;
    font-weight: lighter;
}
.pfInner hr {
    width: 400px;
    border: 1px solid #626262;
}
