<html>
  <head>
    <meta charset="UTF-8">
    <title>숙명여자대학교 소프트웨어공학부</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/HeaderFooter.css">
    <link rel="stylesheet" href="/css/MainPage.css">
  </head>
  <body>
    <header>
        {%block header%}
        {%endblock%}
    </header>

    {%block mainpage%}
    {%endblock%}
    
    <footer>
        {%block footer %}
        {%endblock%}
    </footer>
</body>
</html>